.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 500px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: 150% 150%;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.sc-gsDKAQ jilkMp {
  width: 50vw !important;
}

.cs-conversation-list {
  border-radius: 3vmin;
  opacity: 0.7;
  background-color: rgb(180, 180, 146);
  width: 40vw;
  height: 60vh !important;
}

.cs-conversation__content {
  display: flex !important;
  flex-wrap: nowrap;
  height: 6vh;
  flex-direction: row !important;
}

.cs-conversation__name {
  margin: auto;
  flex: none;
}

.cs-conversation__info {
  margin: auto;
  flex: none;
}

.cs-conversation {
  border-radius: 3vmin;
  margin-top: 2vh;
}

.board {
  background-color: rgb(165, 174, 185);
}

.ant-input-wrapper {
  width: 50vw;
}
